body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info-center {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: dodgerblue;
    padding: 10px;
}

.container div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

button {
    padding: 20px;
    background-color: rgb(214, 169, 169);
    border: 1px solid red;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: rgb(235, 137, 137);
    color: #f1f1f1;
}
